* {
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 27%;
    height: 55%;

    border: 3px solid hsl(0, 0%, 70%);
    border-radius: 7px;
    background-color: hsl(0, 0%, 15%);
    box-shadow: 0 0 20px 3px hsl(0, 0%, 15%);
}

.header-area {
    display: flex;
    font-size: 1.3rem;
}

.form-fields {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem;

    background-color: hsl(0, 0%, 30%);
    border-radius: 6px;
}

.form-fields label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-fields span {
    width: 30%;
    font-weight: 600;
}

.form-fields input {
    width: 70%;
    height: 2.2rem;
    font-size: 1.3rem;

    background-color: hsl(0, 0%, 12%);
    border-radius: 5px;
    border: 2px solid hsl(0, 0%, 55%);
}

form button {
    width: 7rem;
    height: 3.5rem;
    font-size: 1.3rem;

    background-color: hsl(0, 0%, 25%);
    color: white;
    border: 3px solid hsl(0, 0%, 80%);
    transition: background-color 0.25s ease;
}

form button:hover {
    background-color: hsl(0, 0%, 40%);
    border: inherit;
}